.titulocontacto{
    color: #3289a8;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;}

.imagencontacto{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}


