body{
    background-image: linear-gradient(to right, #9CECFB, #65C7F7, #0052D4 );
}

.imagenesclub{
    width: 600px;
}

.reseñaelclub{

    text-size-adjust: 120px;
    font-family: 'Ibarra Real Nova', serif;
    font-size:larger;
    color: black;
    text-align: justify;
}


.imageneselclub1{
    height: 540px;    
}


.imageneselclub2{
    height: 550px;
    width: 600px;
    }

.imageneselclub2bis{  
    height: 550px;
    width: 600px;  
    }

    .imageneselclub3{  
        height: 550px;
        width: 600px;  
        }
        .imageneselclub4{  
            height: 550px;
            width: 600px;  
            }

.reseña3{
    font-size: x-large;
}

.reseña4{  
     font-size: x-large;
}

// .imageneselclub5{
//     margin-top: 200px;
// }

// .reseña5{
//     margin-top: 200px;
// }

// .imageneselclub6{
//     margin-top: 150px;
// }

// .reseña6{
//     margin-top: 150px;
//     margin-bottom: 50px;
// }